/* This is to check errors on the frontend uncomment to use it */
/* * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}
html,
body {
  border: 2px solid blue;
} */

/* If you uncomment above, comment this body class */
body {
  line-height: 2;
  font-family: "Nunito", sans-serif;
}

/* Navbar component */
.logo_navbar {
  width: 4rem;
  height: 4rem;
  padding: none;
}

.navbar_color {
  background-color: #c7e2e2;
}

.text_tabs {
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: #4f8f8f solid 1.4px;
  color: #4f8f8f !important;
}

.text_tabs:hover {
  font-weight: 500;
  border-bottom: #ff895e solid 1.4px;
  color: #ff895e !important;
}

.text_tabs_active {
  font-size: 1.1rem;
  font-weight: 800;
  border-bottom: #f45c27 solid 1.8px;
  color: #f45c27 !important;
}

.logout_btn {
  color: #f45c27;
  font-weight: 900;
  font-size: 1.1rem;
}

.user_menu_items {
  color: #2a8c89;
  font-weight: 700;
  font-size: 1.1rem;
}

.no_outline:focus,
.no_outline:active {
  outline: none;
  box-shadow: none;
  border: none;
}

@media (max-width: 48rem) {
  .text_tabs_active {
    font-size: 1.3rem;
    border-bottom: 2.5px solid;
  }
  .text_tabs {
    font-size: 1.3rem;
    border-bottom: 2px solid;
  }
}

/* End of Navbar component clases */

/* Footer component */
.footer_container {
  background-color: #c7e2e2;
}

.footer_links {
  color: #f45c27 !important;
  font-weight: 700;
  font-size: 1.4rem;
}

.footer_divider {
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 0.5rem;
  margin-bottom: 15px;
  color: #f45c27;
}

@media (max-width: 57rem) {
  .footer_links {
    display: block !important;
  }

  .footer_divider {
    display: none;
  }
}

/* End of Footer component clases */

/* Privacy component */

.title_policy {
  font-size: 3rem;
  font-weight: 900;
  color: #f45c27;
}

/* End of Privacy component clases */

/* Hero component */
.hero_container {
  height: 60vh;
  min-height: 400px;
  max-height: 700px;
  overflow: hidden;
}

.hero_image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
  opacity: 0.2;
}

.text_overlay {
  width: 90%;
  max-width: 700px;
  padding: 0 1rem;
}

.title_hero {
  font-size: 4rem;
  font-weight: 900;
  color: #d55601;
  z-index: 7;
}

.title_hero span {
  color: #228e7c;
}

.btn_logIn_hero {
  font-size: 1.2rem;
  background-color: #228e7c;
  color: orange;
}

.btn_logIn_hero:hover {
  background-color: #d55601;
  color: black;
}

.btn_signUp_hero {
  font-size: 1.2rem;
  color: #d55601;
  border-color: #d55601;
  background-color: rgba(245, 243, 243, 0.219);
}

.btn_signUp_hero:hover {
  color: black;
  background-color: #d55601;
}

.icon_faq {
  font-size: 3rem;
  color: #228e7c;
}

.user_img {
  border-radius: 50%;
  min-width: 3rem;
  max-width: 5rem;
  min-height: 3rem;
  max-height: 5rem;
  object-fit: cover;
  display: block;
}

.user_menu {
  position: absolute !important;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 1050;
  width: 12rem;
}

@media (max-width: 48rem) {
  .title_hero {
    font-size: 3rem;
    font-weight: 900;
    color: #d55601;
    z-index: 7;
  }
  .btn_logIn_hero {
    font-size: 1.5rem;
  }
  .btn_signUp_hero {
    font-size: 1.5rem;
  }

  .user_img {
    border-radius: 50%;
    min-width: 2rem;
    max-width: 4rem;
    min-height: 2rem;
    max-height: 4rem;
    object-fit: cover;
    display: block;
  }
}

/* End of Hero component clases */

/* Demonstration component */
.scroll-container {
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.tasket_cards {
  min-width: 300px;
  min-height: 150px;
  border: 0;
  box-shadow: none;
}

/* End of Demonstration component clases */

/* Features component */
.title_features {
  color: #2a8c89;
  font-weight: 700;
}

.card_title_features {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgba(221, 221, 221, 0.83);
}

.tasket_cards_features {
  min-width: 385px;
  min-height: 200px;
  max-height: 250px;
  border: 0;
  box-shadow: none;
  overflow: hidden;
  background-color: white;
}

.img_features {
  filter: brightness(0.7);
  opacity: 0.85;
}

/* End of Features component clases */

/* User Page component */

.user_page_title {
  color: #367070;
  font-size: 3rem;
  font-weight: 800;
  font-family: "Fredoka", sans-serif;
}

.user_page_subtitles{
  color: #2A8C89;
  font-weight: 700;
}

.rows_user_page {
  background-color: #c7e2e2;
}

.title_rows_user_page {
  color: #2a8c89;
  font-size: 2rem;
  font-weight: 700;
}

.urgent_card_text{
  color: #d94f20;
  font-size: 1.5rem;
  font-weight: 500;
}

.urgent_card_title{
  color: #367070;
  font-size: 1.5rem;
  font-weight: 700;
}

.postit-card {
  background-color: #e9f5f5; /* amarillo post-it */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border-radius: 8px;
  font-family: "Quicksand", sans-serif;
  padding: 1rem;
  min-width: 450px;
  margin: 1rem auto;
}

.postit-card::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  background-color: #d94f20; /* color rojo pin */
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  border: 2px solid #800000;
  z-index: 10;
}

/* End of User Page component clases */

/* Status List component */

.check_list_title{
  color: #F78A42;
  font-size: 1.3rem;
  font-weight: 800;
}

.search{
  width: 25rem;
}

.search_result{
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.search_item{
  cursor: pointer;
}

/* End of Status List component clases */

/* PieChart component */

.piechart{
  max-width: 300px;
  margin: auto;
}

/* End of PieChart component clases */

/* LogIn component */

.welcome_logIn {
  color: #d55601;
  font-weight: 700;
  font-size: 4rem;
  font-family: "Fredoka", sans-serif;
}

.welcome_logIn span {
  color: #2a8c89;
  font-weight: 900;
  font-size: 4rem;
}

.logIn_title {
  color: #2a8c89;
  font-weight: 700;
}

.logIn_btn {
  background-color: #4bc6bf;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: white;
}

.logIn_btn:hover {
  background-color: #d55601;
  font-weight: 700;
  color: white;
}

.form_checkbox {
  background-color: none;
}

.form_checkbox:checked {
  background-color: #f45c27;
  border: none;
}

.logInPage_signUp {
  color: black;
  font-weight: 700;
}

.logInPage_signUp span {
  color: #f45c27;
  font-weight: 700;
}

/* End of LogIn component clases */

/* SignUp component */

.signUp_btn {
  background-color: #cc1925;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: white;
}

.signUp_btn:hover {
  background-color: #2a8c89;
  font-weight: 700;
  color: white;
}

.signUpPage_logIn {
  color: #cc1925;
  font-weight: 700;
}

.signUpPage_reset {
  color: #d55601;
  font-weight: 700;
}

/* End of SignUp component clases */

/* Contact component */

.contact_btn {
  background-color: #f45c27;
  color: black;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
  min-width: 200px;
  max-width: 250px;
  white-space: nowrap;
}

.contact_btn:hover {
  background-color: #d94f20;
}

.contact_btn:active {
  background-color: #228e7c;
  color: white;
}

.contact_title {
  color: #f45c27;
  font-weight: 800;
  font-size: 3rem;
  font-family: "Nunito", sans-serif;
}

.contact_form_title {
  color: #228e7c;
  font-weight: 800;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
}

.report_btn {
  background-color: #e4202d;
  color: black;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
  min-width: 100px;
  max-width: 150px;
  white-space: nowrap;
}

/* End of Contact component clases */

/* FAQ component */

.faq_btn {
  color: #4f8f8f;
  font-size: 1.2rem;
  font-weight: 800;
}

.faq_card_btn {
  background-color: #c7e2e2;
  font-size: 1.3rem;
}

.faq_card_btn:hover {
  background-color: #4f8f8f;
}

.faq_card_btn:active {
  background-color: #4f8f8f;
}

.faq_card_title {
  font-size: 2rem;
  font-weight: 800;
}

.faq_card {
  background-color: #c7e2e223;
}

/* End of FAQ component clases */

/* ForgotPassw component */

.forgot_title {
  color: #2a8c89;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

/* End of ForgotPassw component clases */
